<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitnessing - Statistics</title>

    {% load static %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="{% static 'fitnessing/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'fitnessing/css/dashboard.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="sidenav">
        <div class=link1>
            <a href="/"><img class="home" src="{% static 'fitnessing/images/Home_Icon_White.svg' %}"></a>
            <span class="tooltiptext">Home</span>
        </div>
        <div class=link2>
            <a href="/workouts"><img class="workouts" src="{% static 'fitnessing/images/Weight_Icon.svg' %}"></a>
            <span class="tooltiptext">Workouts</span>
        </div>
        <div class=link3>
            <a href="/stats"><img class="stats" src="{% static 'fitnessing/images/Bar_Chart_Icon.svg' %}"></a>
            <span class="tooltiptext">Statistics</span>
        </div>
        <div class=link4>
            <a href="/accounts/logout"><img class="login" src="{% static 'fitnessing/images/Logout_Icon.svg' %}"></a>
            <span class="tooltiptext">Log out</span>
        </div>
    </div>
    
    <div class="container-fluid main">
        <div class="row mx-4 mt-4">
            <div class="col-sm-8">
                <div class="searchContainer">
                    <i class="fa fa-search searchIcon"></i>
                    <input class="searchBox" type="text" placeholder="Search">
                </div>
            </div>
            
            <div class="col-sm-4 text-right pt-2">
                <a href="/settings"><img class="settings" src="{% static 'fitnessing/images/Settings_Icon.svg' %}"></a>
            
                <div class="profile align-middle">
                    <img class="userIcon" src="{% static 'fitnessing/images/Placeholder_User_Icon.png' %}">
                    <button class="name">Kumiko</button>
                    <img class="dropdownIcon" src="{% static 'fitnessing/images/Dropdown_Icon.svg' %}">
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'fitnessing/js/dashboard.js' %}"></script>
</body>
   
</html>