<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitnessing - Workouts</title>

    {% load static %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="{% static 'fitnessing/css/dashboard.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    
    <div class="sidenav">
        <div class=link1>
            <a href="/"><img class="home" src="{% static 'fitnessing/images/Home_Icon_White.svg' %}"></a>
            <span class="tooltiptext">Home</span>
        </div>
        <div class=link2>
            <a href="/workouts"><img class="workouts" src="{% static 'fitnessing/images/Weight_Icon.svg' %}"></a>
            <span class="tooltiptext">Workouts</span>
        </div>
        <div class=link3>
            <a href="/stats"><img class="stats" src="{% static 'fitnessing/images/Bar_Chart_Icon.svg' %}"></a>
            <span class="tooltiptext">Statistics</span>
        </div>
        <div class=link4>
            <a href="/accounts/logout"><img class="login" src="{% static 'fitnessing/images/Logout_Icon.svg' %}"></a>
            <span class="tooltiptext">Log out</span>
        </div>
    </div>
    
    <div class="container-fluid main">
        <div class="row mx-4 mt-4">
            <div class="col-sm-8">
                <div class="searchContainer">
                    <i class="fa fa-search searchIcon"></i>
                    <input class="searchBox" type="text" placeholder="Search">
                </div>
            </div>
            
            <div class="col-sm-4 text-right pt-2">
                <a href="/settings"><img class="settings" src="{% static 'fitnessing/images/Settings_Icon.svg' %}"></a>
            
                <div class="profile align-middle">
                    <img class="userIcon" src="{% static 'fitnessing/images/Placeholder_User_Icon.png' %}">
                    <button class="name">{{user.get_short_name}}</button>
                    <img class="dropdownIcon" src="{% static 'fitnessing/images/Dropdown_Icon.svg' %}">
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0 pt-4 pl-4 mr-4">
            <div class="col-sm-10">
                <p class="workouts_title m-0"><b>My Workouts</b></p>
            </div>
            <div class="col-sm-2 text-right pt-2">
                <a class = "link" href="/create-workout">Create a Workout</a>
            </div>
        </div>
        <div class="row p-4 mx-0 pr-4">
            <!-- Workouts column -->
            <div class="col-sm-8">
                {% if workouts|length > 0 %}
                {% for workout in workouts %}
                <!-- Workout Container -->
                <div class="row workouts_container mx-0 mb-4">
                    <div class="col-sm-5">
                        <div class="row p-3">
                            <div class="col-sm-12">
                                <p class="muscle_group mb-2">{{workout.name}}</p>
                                <p class="day mb-0">{{workout.last_date_completed}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img class="diagram" src="{% static 'fitnessing/images/Muscles.svg' %}">
                            </div>
                            <div class="col-sm-6">
                                <div class="start" onclick="location.href='/current-workout/' + {{ workout.id }} ">START</div>
                                <p class="completed"><b>{{workout.times_completed}}</b><br>times<br>completed</p>
                            </div>
                        </div>
                    </div>
                    <!-- Graph -->
                    <div class="col-sm-6 p-4">
                        <div class="row graph_container">
                            {% for exercise in exercises %}
                                {% if exercise.workout == workout %}
                                    {% widthratio exercise.weight_lifted 1 exercise.workout.times_completed as weight %}
                                    {% widthratio weight 2.205 1 as kg %}
                                    {% widthratio kg 5000 100 as percent %} 
                                    {% if percent|add:0 > 100 %}                           
                                        {% with 100 as cap %}
                                            {% if forloop.counter0 == 0 %}
                                            <div class="col-sm-2 bar1" style="height: {{cap}}% !important"></div>
                                            {% endif %}
                                            {% if forloop.counter0 == 1 %}
                                            <div class="col-sm-2 bar2" style="height: {{cap}}% !important"></div>
                                            {% endif %}
                                            {% if forloop.counter0 == 2 %}
                                            <div class="col-sm-2 bar3" style="height: {{cap}}% !important"></div>
                                            {% endif %}
                                            {% if forloop.counter0 == 3 %}
                                            <div class="col-sm-2 bar4" style="height: {{cap}}% !important"></div>
                                            {% endif %}
                                            {% if forloop.counter0 == 4 %}
                                            <div class="col-sm-2 bar2" style="height: {{cap}}% !important"></div>
                                            {% endif %}
                                            {% if forloop.counter0 == 5 %}
                                            <div class="col-sm-2 bar5" style="height: {{cap}}% !important"></div>
                                            {% endif %}
                                        {% endwith %}
                                    {% else %}
                                    {% if forloop.counter0 == 0 %}
                                        <div class="col-sm-2 bar1" style="height: {{percent}}% !important"></div>
                                        {% endif %}
                                        {% if forloop.counter0 == 1 %}
                                        <div class="col-sm-2 bar2" style="height: {{percent}}% !important"></div>
                                        {% endif %}
                                        {% if forloop.counter0 == 2 %}
                                        <div class="col-sm-2 bar3" style="height: {{percent}}% !important"></div>
                                        {% endif %}
                                        {% if forloop.counter0 == 3 %}
                                        <div class="col-sm-2 bar4" style="height: {{percent}}% !important"></div>
                                        {% endif %}
                                        {% if forloop.counter0 == 4 %}
                                        <div class="col-sm-2 bar2" style="height: {{percent}}% !important"></div>
                                        {% endif %}
                                        {% if forloop.counter0 == 5 %}
                                        <div class="col-sm-2 bar5" style="height: {{percent}}% !important"></div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="measurements">
                            <p>5k</p>
                            <p>3k</p>
                            <p>1k</p>
                            <p>0</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-sm-12 text-center mt-4 pt-4">
                    <p class="empty_workouts">You have no workouts added yet. Go on and add your first one!</p>
                </div>
                {% endif %}
            </div>
            <div class="col-sm-4 pb-4">
                <div class="filter_container">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="filter_title">Filter</p>
                            <p class="filter_group_text">Muscle Group</p>        
                        </div>
                    </div>
                    <div class="filter_button_container">
                        <div class="row p-2 mt-4">
                            <div class="col-sm-4">
                                <button class="filter_button" value="Abs">Abs</button>
                            </div>
                            <div class="col-sm-4">
                                <button class="filter_button" value="Back">Back</button>                
                            </div>
                            <div class="col-sm-4">
                                <button class="filter_button" value="Biceps">Biceps</button>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-sm-4">
                                <button class="filter_button" value="Calves">Calves</button>                
                            </div>
                            <div class="col-sm-4">
                                <button class="filter_button" value="Chest">Chest</button>
                            </div>
                            <div class="col-sm-4">
                                <button class="filter_button" value="Forearms">Forearms</button>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-sm-4">
                                <button class="filter_button" value="Glutes">Glutes</button>
                            </div>
                            <div class="col-sm-4">
                                <button class="filter_button" value="Hamstrings">Hamstrings</button>
                            </div>
                            <div class="col-sm-4">
                                <button class="filter_button" value="Quadriceps">Quadriceps</button>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-sm-4">
                                <button class="filter_button" value="Shoulders">Shoulders</button>
                            </div>
                            <div class="col-sm-4">
                                <button class="filter_button" value="Traps">Traps</button>
                            </div>
                            <div class="col-sm-4">
                                <button class="filter_button" value="Triceps">Triceps</button>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-sm-4">
                                <button class="filter_button" value="Upper Back">Upper Back</button>
                            </div>
                            <div class="col-sm-4">
                                <button class="filter_button" value="Lower Back">Lower Back</buttton>
                            </div>
                        </div>
                        <div class="row pt-5 mt-4">
                            <div class="col-sm-12">
                                <button class="apply_button" value="APPLY">APPLY</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'fitnessing/js/dashboard.js' %}"></script>
</body>
   
</html>