html {
    height: 100%;
}

body {
    background-color: #FDFDFD;
    font-family: 'Roboto';
}

.sidenav {
    height: 100%;
    width: 115px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-image: linear-gradient(#706DF9, #4C27B6);
    border-radius: 0 40px 40px 0;
    padding-top: 10px;
}

.link1, .link2, .link3, .link4 {
    display: block;
    text-align: center;
    padding: 75px 0 75px 0;
    margin: -1px;
}

.tooltiptext {
    visibility: hidden;
    width: 75px;
    background-color: #F3F3F3;
    color: grey;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: fixed;
    z-index: 100;
    margin-left: 10px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #F3F3F3 transparent transparent;
}

.link1:hover .tooltiptext, .link2:hover .tooltiptext, .link3:hover .tooltiptext, .link4:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.sidenav a img {
    height: 35px;
    width: 35px;
}

.main {
    margin-left: 115px; /* same as width of sidebar */
}

.header {
    display: inline-flex;
    margin-left: 115px;  /* same as width of sidebar */
    align-content: center;
    align-items: center;
}

.searchContainer {
    display: inline-flex;
    flex: 1 1 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 500px;
    height: 45px;
    margin: 20px 0 0 100px;
}

.searchIcon {
    padding: 14px;
    color: grey;
    background-color: #F3F3F3;
    text-align: center;
}

.searchBox {
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    flex: 1;
    font-size: 14px;
    background-color: #F3F3F3;
}

.settings {
    border: none;
    background-color: #FDFDFD;
    margin: 30px 0 0 450px;
}

.profile {
    display: inline-flex;
    align-items: center;
}

.userIcon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 25px 0 0 20px;
}

.name {
    border: none;
    background-color: #FDFDFD;
    font-size: 18px;
    font-weight: bold;
    color: #525252;
    margin-top: 22px;
    margin-left: 10px;
}

.dropdownIcon {
    margin-top: 22px;
    margin-left: 10px;
}

.dropdown-content {
    position: absolute;
    background-color: #706DF9;
    top: 75px;
    right: 50px;
    min-width: 160px;
    border-radius: 20px;
    z-index: 1;
    opacity: 0;
    position: absolute;
    transition: all .5s ease;
    height: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
}

.dropdown-content a:hover {
    background-color: #7371FF;
}

.profile:hover .dropdown-content {
    height: 135px;
    opacity: 1;
    transform: translateY(0);
}

.main {
    height: 100vh;
}

.welcome_container {
    margin: 30px 20px 20px 20px;
    height: 220px;
    width: 60%;
    border-radius: 20px;
    background-color: #706DF9;
}

.container {
    display: flex;
    overflow: hidden;
    margin: 10px;
    width: 61%;
    align-items: stretch;
}

.prev_workout_container {
    height: 90px;
    flex-grow: 1;
    background-color: #4C49EA;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin: 10px;
}

.prev_workout_container:hover {
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(76, 73, 234, 0.5);
}

.prev_workout_container:hover .subtitle2, .prev_workout_container:hover .desc {
    color: #4C49EA;
}

.margin {
    margin: 30px !important;
}

.title {
    margin: 10px 0 5px 20px;
    font-size: 18px;
    font-weight: 500;
    color: #525252;
    text-align: left;
}

.workouts_container {
    display: block;
    width: 60%;
    height: 47%;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #ccc;
    margin: 20px;
}

.muscle_engagement_container {
    float: right;
    vertical-align: bottom;
    height: 100%;
    width: 33.5%;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #ccc;
    margin: 0 20px 20px 20px ;
    text-align: center;
}

.welcome_title {
    color: white;
    font-size: 28px;
    margin: 20px;
    padding-top: 20px;
}

.subtitle {
    color: white;
    margin: 20px;
    margin-top: -15px;
}

.box {
    display: inline-block;
    flex-grow: 1;
    height: 100px;
    width: 175px;
    background-color: #B7B6FC;
    opacity: 100%;
    border-radius: 20px;
    margin-left: 20px;
}

.people {
    float:right;
    height: 150px;
    width: auto;
    margin-top: 50px;
}

.box_container {
    display: flex;
    width: 70%;
    align-items: stretch;
}

.box p {
    color: white;
    font-size: 18px;
    text-align: center;
}

.heading {
    display: flex;    
    justify-content: space-between;
}

select {
    width: 150px;
    padding: 12px;
    margin-right: 30px;
    font-family: "Roboto";
    font-size: 13px;
    color: #525252;
    border: 0 !important;
    background-color: #f3f3f3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      background-size: .6em;
      background-position: calc(100% - 1.3em) center;
      background-repeat: no-repeat;
  }
  select::-ms-expand {
      display: none;
  }

.date {
    display: block;
    float: left;
    width:60px;
    height: 70px;
    background-color: #B7B6FC;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin: 10px 5px 10px 10px;
}

.subtitle2 {
    text-align: top !important;
    display: block;
    color: white;
    font-weight: 500;
    margin-top: 20px;
}

.desc {
    color: white;
    margin-top: -10px;
}

.heading a {
    text-decoration: none;
    color: #4C49EA;
    padding: 10px 30px 0 0;
}

.week {
    font-size: 14px;
    color :#525252;
    margin-top: -20px;
    margin-left: 30px;
    text-align: left;
}

progress {
    display: inline-block;
    height: 30px;
    width: 375px;
     /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;    
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

progress[value]::-webkit-progress-value {
    background-image: linear-gradient(#6F6CF8, #4C27B6);
    border-radius: 5px; 
}

.muscle {
    color: #525252;
    font-weight: 500;
    text-align: left;
    margin-left: 30px;
}